.desktopImageModal {
    display: block;
    border-radius: 10px;
}

.mobileImageModal {
    display: none;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .desktopImageModal {
        display: none;
    }

    .mobileImageModal {
        display: block;
        /* width: 100vw; */
        width: 200px;
        position: fixed;
        right: 4%;
        top: 65%;
    }
}

@media (max-width: 600px) {
    .mobileImageModal {
        width: 40%;
    }
}

.estrategiaModalDctoClose--modal-promo {
    top: -8px;
    right: -8px !important;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    color: #fff !important;
    transition: background-color 0.2s ease-in;
}

.estrategiaModalDctoClose--modal-promo:hover {
    background-color: #ffd400;
}

@media screen and (max-width: 1024px) {
    .estrategiaModalDctoClose {
        top: -34px;
        right: -8px !important;
        background: rgba(0, 0, 0, 0.55);
        border-radius: 4px;
        color: #fff !important;
        transition: background-color 0.2s ease-in;
        z-index: 3;
    }

    .estrategiaModalDctoClose:hover {
        background-color: #ffd400;
    }

    .estrategiaModalDcto {
        overflow: visible !important;
    }

    .estrategiaModalDcto--modal-promo {
        /* bottom: 7px !important; */
        z-index: 3 !important;
        top: 70%;
        right: 2%;
    }
}