.container--contenido-seo-landing-denimsneakers {
    margin: 20px auto;
}
.headingLevel1--contenido-seo-landing-denimsneakers {
    margin: 0;
    font-size: 20px;
    color: #000;
}
.paragraph--contenido-seo-landing-denimsneakers {
    margin: 0;
    width: 90%;
    margin: 0 auto;
}
.paragraph--titulo-denimsneakers {
    font-weight: bold;
    margin-top: 0;
}