.flexRowContent--banners__regalos--mob {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--banners__regalos--mob :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding: 0px 10px 10px 10px;
}

.flexRow--container__responsives--banners {
  margin: 30px 0 30px 0;
}

.flexRowContent--container__images--desk {
  justify-content: center;
}

/* ==========================================================================
   MEDIA QUERIES (DESDE AQUÍ)
   Se sigue el enfoque mobile-first. Mantén esta estructura y el orden
   para asegurar que las reglas específicas sobrescriban correctamente los estilos base.
   ========================================================================== */

/* Estilos para pantallas(tablet y dispositivos superiores) */
/* === MAX-WIDTH === */
/* === MIN-WIDTH === */
