
.skuSelectorTextContainer{
    display: none;
    margin-bottom: .3rem;
    text-align: left;
    font-weight: 800;
    font-size: 9px;
    line-height: 9px;
    color: #260C11;
}

.skuSelectorItem .frameAround{
    border-radius: 50%;
}

.skuSelectorItem .skuSelectorInternalBox{
    border-radius: 50%;
}

.contentSlide{
    height: 25px;
    overflow: hidden;
    padding-right: 2rem;
}

.skuSelectorOptionsListMore .contentSlide{
    height: auto;
    overflow: visible;
    padding-right: 0;
}

.skuSelectorOptionsList .skuSelectorItem{
    margin-right: .5rem;
}

.skuSelectorOptionsList .contentSlide .skuSelectorItem{
    margin-right: .1rem;
}

.contentSlide-more{
    position: relative;
}

.contentSlide-more::after{
    content: '+4';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .7rem;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    color: #000000;
}

.skuSelectorOptionsListMore.contentSlide-more::after{
    display: none;
}

.skuSelectorOptionsListMore .contentSlide-more::after{
    display: none;
}

@media only screen and (min-width: 1180px){
    .skuSelectorOptionsList{
        height: 28px;
        overflow: hidden;
        padding-right: 2rem;
    }

    .skuSelectorOptionsListMore{
        height: auto;
        overflow: visible;
        padding-right: 0;
    }

    .skuSelectorOptionsList-more::after{
        content: '+4';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        font-weight: 600;
        font-size: 11px;
        line-height: 100%;
        color: #000000;
    }

    .contentSlide-more::after{
        right: 2rem;
    }

    .skuSelectorOptionsListMore::after{
        display: none;
    }

    .skuSelectorOptionsList .skuSelectorItem{
        margin-right: 1rem;
    }
}