.container--contentWorkWithIframe{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.container--orderFromChaosVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.container--spotifyRituales {
  width: 70%;
  justify-content:center;
  height: 90px;
}

.container--billyGames {
  position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    height: 500px;
}

@media(max-height: 740px){
  .container--billyGames {
    height: 700px;
        overflow: hidden;

  }
}
