.lowStockText {
    color: #494949;
    font-weight: 700;
}


@media (max-width: 750px){
    .container {
        width: 90%;
        margin: 0 auto;
    }
}
.lowStockHighlight {
    color: #494949;
    /* font-size: 25px;
    line-height: 20px; */
}