.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexColChild{
  height: auto !important;
}

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  background-color: gray;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.flexCol--productSpecificationName {
  padding: 1rem;
  font-weight: bold;
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f7f7f7;
}

.flexRow--copyright{
    background-color:#000000;
}

@media only screen and (min-width: 1180px){
  .flexRow--contentPromotionalDesk{
    width: 85%;
  }
}

/* Estilos personalizados footer */

.flexRow--contentFooter{
  padding: 2rem 1.5rem 0 1.5rem;
}

.flexRowContent--contentItem1{
  padding: 1rem 13px 1rem 13px;
  background: #000000;
  margin-top: 8.5rem;
  position: relative;
}

.flexRow--contentContact{
  margin: 0;
}

.flexRow--rowContactFull{
  margin: .3rem 0;
}

.flexRowContent--rowContactFull{
  justify-content: center;
}

.flexColChild--contentRichtextFooter{
  display: flex;
  align-items: center;
}

.flexRowContent--contentStorelocator{
  padding: 6px 7px;
  margin: 1rem auto 36px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  background: #FFD400;
}

.flexColChild--contentFooter{
  margin: 0;
}

.flexRow--contentLogoFooter{
  width: 65% !important;
  margin: 1rem auto 0 auto;
}

.flexRowContent--contentLegal{
  padding: 1rem 0 .6rem 0;
}

.flexRow--legalFooter2{
  width: 53% !important;
  margin: 0 auto;
  overflow: hidden;
}

.flexCol--contentRichtextFooter{
  justify-content: center;
}

.flexCol--icoBlacksip, .flexCol--icoVtex{
  font-size: 3.5rem;
  position: relative;
}

.flexCol--icoVtex{
  color: #F71963;
}

.flexRowContent--imgMediosPago{
  padding-bottom: .5rem;
}

@media only screen and (min-width: 764px){
  .flexRowContent--contentStorelocator{
    min-width: 180px;
    width: 75%;
    padding: .8rem 1rem;
  }
}

/* Footer desktop */
@media only screen and (min-width: 1180px){
  .flexRow--contentFooter{
    background: #000000;
    padding: 3rem 5.45rem 0 5.45rem;
    position: relative;
  }

  .flexRow--contentLogoFooter{
    position: absolute;
    width: 222px !important;
    right: 0;
    bottom: 0;
    margin: 0 9% 1.1rem 0;
  }

  .flexRowContent--contentfooter{
    display: block;
  }

  .flexRowContent--contentContact{
    display: block;
  }

  .flexCol--contenteItem{
    margin-left: 2rem;
  }

  .flexCol--contenteItem1{
    margin: 0 .7rem 0 0;
  }

  .flexCol--contenteItem2{
    margin-left: 4.4rem;
  }

  .flexCol--contenteItem3{
    margin-left: 3.35rem;
  }

  .flexCol--contenteItemAyuda{
    margin-left: 2.2rem;
  }

  .flexCol--contenteItem5{
    margin-left: 0;
  }

  .flexCol--telItemsfooter{
    align-items: flex-start !important;
  }

  .flexRowContent--contentStorelocator{
    padding: .4rem .6rem;
    margin: 2.6rem auto 23px;
    width: 100%;
    text-align: center;
  }

  .flexColChild--contenteItem{
    height: auto !important;
  }

  .flexCol--contentRichtextFooter{
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
  }

  .flexCol--mailItemsfooter{
    align-items: flex-start;
  }

  .flexRowContent--paymentMethods :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    justify-content: flex-end;
  }

  .flexRowContent--paymentMethods :global(.vtex-store-components-3-x-imageElement){
    margin-right: 0;
    width: 61%;
  }

  .flexCol--contentLegalRights{
    justify-content: center;
  }

  .flexRowContent--contentLegal{
    padding: .4rem 0 .3rem 0;
  }

  .flexRowContent--paymentMethods{
    padding-right: 2.3rem;
  }
}

@media only screen and (min-width: 1910px){
  .flexCol--contenteItem1{
    padding-right: 3rem;
  }

  .flexCol--contentRichtextFooter{
    margin-left: 0;
  }
}

/* Estilos Header */

.flexRowContent--contenedorHeader, .flexColChild--contenedorHeader{
  flex-direction: column;
  background: #FFFFFF;
}

.flexColChild--contentIcoMenu{
  height: 100% !important;
}

.flexCol--contenicos{
  padding-right: 0;
  padding-left: 1rem;
}

.flexRow--contentHeaderRow1{
  padding: 0;
  margin: 0;
}

.flexColChild--icoCart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColChild--icoLogin, 
.flexCol--icoWishlist, 
.flexColChild--icoCart, 
.flexColChild--contentLogo,
.flexCol--contentLogoActive,
.flexCol--contentSearchMobile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol--contentLogoActive{
  margin-left: 2rem;
}

.flexCol--contentLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.flexRow--contentHeaderMenu{
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.flexRowContent--contentHeaderMenu{
  position: relative;
}

.flexRow--contentHeaderMenuActive{
  width: 90%;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
  position: relative
}

.flexCol--contenticonos{
  display: flex;
  justify-content: center;
}

.flexRowContent--contentHeaderRow1{
  padding-top: 0;
}

/* Estilos a promesa de valor de marca */
.flexRow--contentPromeses{
  width: 90%;
  margin: 1rem auto 2rem auto;
}

.flexCol--promiseImage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .6rem;
}

.flexCol--colPromise{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem .6rem;
}

@media only screen and (min-width: 1180px){
  .flexCol--promiseImage{
    margin-bottom: 0;
  }

  .flexRow--contentPromeses{
    width: 80%;
    padding: 1rem .6rem;
  }

  .flexCol--colPromise{
    margin: 0 3.2rem;
    padding: 1rem .6rem;
  }
}

@media only screen and (min-width: 1260px){
  .flexCol--colPromise{
    margin: 0 2rem;
    padding: 1rem .6rem;
  }
}


/* Estilos para la vitrina */
.flexRow--sliderContentShelf{
  width: 90%;
  margin: 0 auto 2rem auto;
}

@media only screen and (min-width: 1180px){
  .flexRow--sliderContentShelf{
    width: 84%;
  }
}

.flexRow--contentPrice{
  margin-bottom: .5rem;
}

.flexColChild--contentPrices{
  text-align: left;
}

.flexRow--contentButton{
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
}

.flexRow--addWishList :global(.vtex-wish-list-1-x-iconSize){
  display: none;
}

.flexRow--addWishList :global(.vtex-button) :global(.vtex-button__label){
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
}

.flexRow--addWishList :global(.vtex-button) :global(.vtex-button__label)::before{
  content: '\e909';
}

@media only screen and (min-width: 1180px){
  .flexColChild--contentButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flexRow--contentPrice{
    margin-bottom: 1.2rem;
  }

  .flexRowContent--contentSkuBtn{
    align-items: center;
  }

  .flexCol--contentButton{
    margin-right: 0;
  }

  .flexCol--contentButton :global(.vtex-button){
    width: 40px !important;
    height: 40px !important;
  }

  .flexRow--sliderContentShelf :global(.vtex-product-price-1-x-savings){
    top: 0;
    left: 16px;
  }

  .flexRow--sliderContentShelf :global(.vtex-product-price-1-x-savings) :global(.vtex-product-price-1-x-savingsPercentage){
    width: 28px;
    height: 28px;
  }
}

/* Estilos a los banners secundarios */
.flexRow--contentPromotionalBannerDesk{
  width: 80%;
  margin: 1rem auto 2rem auto;
}

.flexCol--PromotionalBannerConterImg{
  margin: 0 .8rem;
  display: flex;
  justify-content: space-between;
}

.flexRowContent--contentTitle{
  position: relative;
}

.flexCol--contentTitleText{
  z-index: 2;
}

.flexCol--contentTitleLine{
  height: 5px;
  width: 288px !important;
  background: #FFD400;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media only screen and (min-width: 760px){
  .flexCol--contentTitleLine{
    height: 7px;
    width: 390px !important;
    bottom: 4px;
  }

  .flexRowContent--contentTitle{
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .flexRow--contentCategoryBannerDesk{
    width: 90%;
    margin: 1rem auto 2rem auto;
  }

  .flexRowContent--contentTitle .stretchChildrenWidth{
    width: 100% !important;
  }

  .flexRowContent--contentCategoryCol .stretchChildrenWidth{
    width: 33.3% !important;
  }

  .flexCol--categoryBannerConterImg{
    margin: 0 1.2rem;
  }
}

.flexRowContent--promBannerContent{
  width: 93% !important;
  margin: 2rem auto;
}

.flexCol--promBannerContentImg{
  position: relative;
  margin-bottom: 1.3rem;
}

@media only screen and (min-width: 760px){
  .flexRow--promBannerContent{
    width: 80% !important;
    margin: 0 auto;
  }

  .flexRowContent--promBannerContent{
    width: auto !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .flexRowContent--promBannerContent::-webkit-scrollbar {
    background: #E5E5E5;
    display: block;
  }

  .flexRowContent--promBannerContent::-webkit-scrollbar{
    background: transparent;
    height: 10px;
    border-radius: 10px;
    display: block;
  }

  .flexRowContent--promBannerContent .stretchChildrenWidth{
    flex: 10 0 auto;
    margin: 0 .6rem;
  }

  .flexRowContent--promBannerContent .stretchChildrenWidth:nth-child(odd){
    width: 568.250px !important;
  }

  .flexRowContent--promBannerContent .stretchChildrenWidth:nth-child(even){
    width: 360.609px !important;
  }
}

/* Estilos al menu mobile */
.flexRow--contenItemsLevel1{
  width: 100%;
  padding: 0 1rem 0 1.5rem;
  position: relative;
}

.flexRow--contentItemsMenu{
  width: 100%;
}

.flexRow--contentFooterMenu{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
}

.flexRowContent--contentBtnWishlist{
  padding: 0 1.5rem;
  margin: .3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  border: 1px solid #000000;
}

/* Estilos Submenu */
.flexRow--contenItemsLevel2{
  width: 100%;
}

.flexRow--subContenItemsLevel2{
  padding: 0 1rem;
  width: 100%;
}

.flexRow--subContenItems1{
  height: 340px;
  overflow: visible;
}

.flexCol--contentBack{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flexRow--boxSubmenu{
  width: 100%;
}

.flexCol--contentBlockSubmenu{
  margin-bottom: .6rem;
}

.flexCol--contentdepartmentImg{
  margin-top: .7rem;
}

.flexRowContent--contentBtnClose{
  position: relative;
  padding: .2rem;
}

.flexRowContent--contenedorHeaderSearch{
  flex-direction: column;
}

.flexRow--contentSearchClose{
  display: none;
  background: #FFFFFF;
}

.flexRowContent--contentSearchClose{
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid #AAA9A9;
}

.flexColChild--contentCloseIco{
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Estilos resumen de carrito */
.flexCol--contentRemoveButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRow--contentShelfCart{
  margin: .1rem 0 1rem 0;
}

.flexRowContent--contentShelfCart{
  padding: 5px 0;
  border-bottom: 1px solid #EFEFEF;
}

.flexCol--contentInfoProductCart{
  padding: 0 .5rem;
}

.flexRow--contentFooterCart{
  background: #000000;
  padding-bottom: 0;
}

@media only screen and (min-width: 1180px){
  .flexRow--contentShelfCart{
    margin: .5rem 0 1rem 0;
  }

  .flexCol--contentInfoProductCart{
    padding: 0 .5rem 0 5px;
  }

  .flexRow--contentFooterCart{
    padding-bottom: .5rem;
  }
}

/* Estilos Newsletter */
.flexCol--contentNewsletter{
  background: #FFFFFF;
  width: 88% !important;
  position: absolute;
  margin: 0 auto;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  top: -6.4rem;
}

.flexColChild--contentNewsletter{
  padding: 1.3rem 1.3rem 1rem 1.3rem;
}

.flexColChild--contentNewsletter :global(.vtex-input-prefix__group){
  margin-top: .8rem;
  height: 2rem;
}

.flexColChild--contentNewsletter :global(.vtex-styleguide-9-x-input)::placeholder{
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #000000;
}

.flexColChild--contentNewsletter :global(.vtex-store-form-0-x-formSubmitContainer){
  margin-top: .4rem;
}

.flexColChild--contentNewsletter :global(.vtex-button){
  width: 100%;
  background: #FFD400;
  outline: none;
  color: #000000;
  min-height: 1.7rem;
  font-size: 1rem;
}

.flexColChild--contentNewsletter :global(.vtex-button):hover{
  background: #FFD400;
  outline: none;
  border: none;
}

.flexColChild--contentNewsletter :global(.vtex-button__label){
  display: none;
}

.flexColChild--contentNewsletter :global(.vtex-checkbox__line-container){
  margin-top: 1rem;
}

.flexColChild--contentNewsletter :global(.vtex-checkbox__label){
  font-weight: 300;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.01em;
  color: #000000;
}

.flexRowContent--contentSocialMedia{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  margin: 0 auto;
}

.flexRowContent--contentSocialMedia .stretchChildrenWidth{
  width: 50% !important;
}

@media only screen and (min-width: 1180px){
  .flexRow--contentFooter{
    margin-top: 9rem;
  }

  .flexCol--contentNewsletter{
    width: 61.3% !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    top: -7.7rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .flexCol--contentInput{
    width: 41%;
    margin: 0 auto;
    margin-top: 4px;
    position: relative;
  }

  .flexCol--contentInput :global(.vtex-store-form-0-x-formSubmitContainer){
    position: absolute;
    top: 10px;
    right: 0;
    width: 17%;
  }

  .flexColChild--contentNewsletter :global(.vtex-checkbox__line-container){
    width: 41%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .flexRowContent--contentSocialMedia{
    width: 15%;
  }
}

/* Estilos pagina de departamento */
.flexRow--contentSearch{
  width: 100%;
}

.flexCol--contentBannersDesk{
  height: auto;
}

.flexRowContent--contentBanners-2{
  justify-content: space-between;
  margin-top: 2rem;
}

:global(.vtex-breadcrumb-1-x-container){
  display: none;
}

.flexCol--filterCol{
  min-width: 260px;
  position: relative;
}

.flexCol--contentResult{
  min-width: 65%;
}

.flexRow--contentResultFilter{
  margin-top: 2.6rem;
}

:global(.vtex-search-result-3-x-gallery){
  padding-left: 0rem;
  width: 90%;
  margin: 0 auto;
}

:global(.vtex-search-result-3-x-orderByButton){
  justify-content: center;
  padding: .5rem 0;
  border: none;
  border-radius: 0;
}

:global(.vtex-search-result-3-x-filterPopupArrowIcon){
  padding: 0 1rem;
  width: 5%;
  display: none;
}

.flexCol--filterOrderBy{
  position: absolute;
  top: 2.4rem;
  height: auto;
}

:global(.vtex-search-result-3-x-filterMessage){
  margin-bottom: 1.5rem;
  margin-left: 3.2rem;
  font-weight: bold;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
  text-transform: uppercase;
}

:global(.vtex-search-result-3-x-filterPopupTitle){
  text-transform: capitalize;
  width: 95%;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.025em;
  color: #000000;
}

:global(.vtex-search-result-3-x-orderByText){
  display: none;
}

:global(.vtex-search-result-3-x-filterTitle){
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

:global(.vtex-search-result-3-x-caretIcon){
  height: 11px;
  width: 11px;
  color: #FFD400;
}

:global(.vtex-checkbox__label){
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #000000;
}

:global(.vtex-checkbox__line-container){
  margin-bottom: .5rem;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow){
  width: 242px;
  padding-left: 1.5rem;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar {
  width: 6px;
  background: #FFFFFF;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar-thumb {
  display: block;
  background: #C4C4C4;
  border-radius: 10px;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button){
  background: #FFFFFF;
  border: none;
  border: 1px solid #000000;
  box-shadow: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.07em;
  outline: none;
  border-radius: 0;
  padding: .5rem 3rem;
}

.flexRowContent--search-in-mobile{
  border: 1px solid #000000;
  width: 88%;
  margin: .8rem auto;
}

.flexRowContent--search-in-mobile .stretchChildrenWidth{
  width: 50% !important;
}

.flexCol--filterMobileCol{
  border-right: 1px solid #000000;
}

@media only screen and (min-width: 1180px){
  .flexRow--contentSearch{
    width: 88%;
    margin: 0 auto;
  }

  :global(.vtex-search-result-3-x-gallery){
    padding-left: 6.3rem;
    width: 100%;
  }

  :global(.vtex-search-result-3-x-filterPopupArrowIcon){
    display: block;
  }

  :global(.vtex-search-result-3-x-orderByButton){
    border: 1px solid #D3D1D1;
    padding: .8rem 0;
  }

  .flexRowContent--search-in-mobile{
    width: 100%;
  }

  :global(.vtex-search-result-3-x-filterMessage){
    margin-bottom: 6.3rem;
    margin-left: 0;
    font-weight: 900;
  }

  .flexRowContent--contentCategoryBannersDesk .stretchChildrenWidth{
    width: 33.3% !important;
  }

  .flexRowContent--contentCategoryBannersDesk :global(.vtex-store-components-3-x-imageElementLink--departmentBannerImg-1){
    margin-right: 1.2rem;
  }

  .flexRowContent--contentCategoryBannersDesk :global(.vtex-store-components-3-x-imageElementLink--departmentBannerImg-2){
    margin: 0 .6rem .5rem .6rem;
  }

  .flexRowContent--contentCategoryBannersDesk :global(.vtex-store-components-3-x-imageElementLink--departmentBannerImg-3){
    margin: 0 0 .5rem 1.2rem;
  }
}