.productDescriptionContainer{
    max-width: 80%;
    margin: 0 auto;
}

.sizeDesktop{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.button{
    background: red;
}

/* Imagenes banners promocionales */
.imageElement--imageBanner{
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.imageElement--contentImg{
    margin-bottom: .3rem;
}

/* footer */

.container{
    padding: 0;
    max-width: 100%;
}

/* Header */

.searchBarContainer{
    padding: 0;
}

.searchBarIcon--search{
    position: relative;
}

:global(.vtex-input-prefix__group){
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA9A9;
}

:global(.vtex-styleguide-9-x-input){
    padding-left: 0;
}

:global(.vtex-styleguide-9-x-input)::placeholder{
    color: #260C11;
}

:global(.vtex-input__suffix){
    padding-right: 0;
}

:global(.vtex-styleguide-9-x-input),
:global(.vtex-input__suffix)
{
    background: transparent;
}

:global(.vtex-store-components-3-x-autoCompleteOuterContainer--contentSearch) :global(.vtex-store-components-3-x-searchIcon){
    color: transparent;
}

:global(.vtex-login-2-x-container) :global(.vtex-button):hover{
    background: transparent;
}

:global(.vtex-login-2-x-container) :global(.vtex-button__label){
    display: none;
}

:global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button){
    background: transparent;
}

/* Estilos para los iconos header */
:global(.vtex-rich-text-0-x-link--icoWishlist),
:global(.vtex-flex-layout-0-x-flexRowContent--contentBtnWishlist) :global(.vtex-rich-text-0-x-wrapper--icoWishlist),
:global(.vtex-rich-text-0-x-wrapper--icoSearch),
:global(.vtex-rich-text-0-x-wrapper--icon-Security),
:global(.vtex-rich-text-0-x-wrapper--icon-Payment),
:global(.vtex-rich-text-0-x-wrapper--icon-Delivery),
:global(.vtex-store-drawer-0-x-openIconContainer--menu-drawer),
:global(.vtex-minicart-2-x-minicartIconContainer),
:global(.vtex-flex-layout-0-x-flexCol--icoBlacksip),
:global(.vtex-rich-text-0-x-wrapper--icoBlacksip),
:global(.vtex-rich-text-0-x-wrapper--icoVtex),
:global(.vtex-flex-layout-0-x-flexCol--icoVtex),
:global(.vtex-menu-2-x-accordionIcon--accordionLevel1--isClosed),
:global(.vtex-menu-2-x-accordionIcon--accordionLevel1--isOpen),
:global(.vtex-menu-2-x-accordionIcon--menuAccordionLevel1--isClosed),
:global(.vtex-menu-2-x-accordionIcon--menuAccordionLevel1--isOpen),
:global(.vtex-login-2-x-container) :global(.vtex-button),
:global(.vtex-store-components-3-x-autoCompleteOuterContainer--contentSearch) :global(.vtex-store-components-3-x-searchBarIcon--search),
:global(.vtex-rich-text-0-x-wrapper--icoMenuLevel1),
:global(.vtex-rich-text-0-x-wrapper--icoLogin),
:global(.vtex-flex-layout-0-x-flexColChild--contentBack) :global(.vtex-store-drawer-0-x-closeIconButton),
:global(.vtex-rich-text-0-x-wrapper--submenuIco),
:global(.vtex-rich-text-0-x-wrapper--closeIco),
:global(.vtex-product-list-0-x-removeButton),
:global(.vtex-flex-layout-0-x-flexColChild--contentNewsletter) :global(.vtex-button),
:global(.vtex-rich-text-0-x-wrapper--icoFacebook) :global(.vtex-rich-text-0-x-link),
:global(.vtex-rich-text-0-x-wrapper--icoInstagram) :global(.vtex-rich-text-0-x-link),
:global(.vtex-rich-text-0-x-wrapper--icoWhatsapp) :global(.vtex-rich-text-0-x-link)
{
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

:global(.vtex-rich-text-0-x-wrapper--icoWhatsapp) :global(.vtex-rich-text-0-x-link)::before{
    content: '\e923';
}

:global(.vtex-rich-text-0-x-wrapper--icoInstagram) :global(.vtex-rich-text-0-x-link)::before{
    content: '\e90c';
}

:global(.vtex-rich-text-0-x-wrapper--icoFacebook) :global(.vtex-rich-text-0-x-link)::before{
    content: '\e905';
}

:global(.vtex-flex-layout-0-x-flexColChild--contentNewsletter) :global(.vtex-button)::before{
    content: '\e91a';
}

:global(.vtex-product-list-0-x-removeButton)::before{
    content: '\e91e';
}

:global(.vtex-rich-text-0-x-wrapper--closeIco)::before{
    content: '\e901';
}

:global(.vtex-flex-layout-0-x-flexColChild--contentBack) :global(.vtex-store-drawer-0-x-closeIconButton)::before{
    content: '\e90d';
    color: #BF6E0B;
    font-size: 1.2rem;
}

:global(.vtex-rich-text-0-x-wrapper--submenuIco)::before{
    content: '\e917';
    color: #BF6E0B;
    font-size: 1.1rem;
}

:global(.vtex-rich-text-0-x-wrapper--icoMenuLevel1)::before{
    content: '\e917';
}

:global(.vtex-store-components-3-x-autoCompleteOuterContainer--contentSearch) :global(.vtex-store-components-3-x-searchBarIcon--search)::before{
    content: '\e918';
    color: #000000;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

:global(.vtex-login-2-x-container) :global(.vtex-button)::before{
    content: '\e921';
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold;
}

:global(.vtex-rich-text-0-x-wrapper--icoLogin)::before{
    content: '\e921';
}

:global(.vtex-menu-2-x-accordionIcon--accordionLevel1--isOpen)::before,
:global(.vtex-menu-2-x-accordionIcon--menuAccordionLevel1--isOpen)::before
{
    content: '\e920';
}

:global(.vtex-menu-2-x-accordionIcon--accordionLevel1--isClosed)::before,
:global(.vtex-menu-2-x-accordionIcon--menuAccordionLevel1--isClosed)::before
{
    content: '\e904';
}

:global(.vtex-rich-text-0-x-wrapper--icoBlacksip)::before{
    content: '\e90a';
}

:global(.vtex-flex-layout-0-x-flexCol--icoBlacksip)::before{
    content: '\e90a';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

:global(.vtex-rich-text-0-x-wrapper--icoVtex)::before{
    content: '\e90b';
}

:global(.vtex-flex-layout-0-x-flexCol--icoVtex)::before{
    content: '\e90b';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

:global(.vtex-minicart-2-x-minicartIconContainer)::before{
    content: '\e902';
    color: #000000;
    font-size: 1.6rem;
    font-weight: normal;
}

:global(.vtex-store-drawer-0-x-openIconContainer--menu-drawer)::before{
    content: '\e910';
}

:global(.vtex-rich-text-0-x-link--icoWishlist)::before,
:global(.vtex-flex-layout-0-x-flexRowContent--contentBtnWishlist) :global(.vtex-rich-text-0-x-wrapper--icoWishlist)::before
{
    content: '\e908';
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold;
}

:global(.vtex-rich-text-0-x-wrapper--icon-Security)::before{
    content: '\e919';
}

:global(.vtex-rich-text-0-x-wrapper--icon-Payment)::before{
    content: '\e912';
}

:global(.vtex-rich-text-0-x-wrapper--icon-Delivery)::before{
    content: '\e903';
}

:global(.vtex-rich-text-0-x-wrapper--icoSearch)::before{
    content: '\e918';
}

:global(.vtex-flex-layout-0-x-flexColChild--icoLogin) :global(.vtex-login-2-x-label){
    display: none;
}

:global(.vtex-flex-layout-0-x-flexColChild--icoLogin) :global(.vtex-button__label){
    padding: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--icoLogin) :global(.vtex-button__label){
    padding: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--icoLogin) :global(.vtex-login-2-x-profileIcon){
    color: #000000;
}

:global(.vtex-minicart-2-x-openIconContainer){
    padding: 0;
}

:global(.vtex-store-icons-0-x-cartIcon){
    height: 20px;
    width: 20px;
    color: #000000;
}

.imageElementLink{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 760px){
    .imageElementLink .imageElement{
        width: 100%;
    }
}

.imageElement--imgLogoFooter1{
    width: 100% !important;
    margin-top: 7px;
}

.imageElement--imgLogoFooter2{
    width: 80% !important;
    margin-left: 11px;
}

@media only screen and (min-width: 1180px){
    .imageElement--imgLogoFooter1{
        margin-right: 14px;
    }
    .imageElement--imgLogoFooter2{
        margin-right: 28px;
        width: 70% !important;
    }
}

/* Vitrina */
.skuSelectorSubcontainer--talla{
    display: none;
}

.skuSelectorTextContainer{
    display: none;
    margin-bottom: .3rem;
    text-align: left;
    font-weight: 800;
    font-size: 9px;
    line-height: 9px;
    color: #260C11;
}

.skuSelectorSelectContainer{
    width: 100%;
}

.skuSelectorSelectContainer :global(.vtex-dropdown__container){
    height: 1.4rem;
    border-radius: 0;
    border-width: 0;
    border: 0.5px solid #848484;
}

.skuSelectorSelectContainer :global(.vtex-dropdown__button){
    padding: 0 .5rem;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    color: #848484;
}

.skuSelectorContainer{
    display: flex;
    flex-direction: column;
}

.skuSelectorSubcontainer--color{
    order: 1;
}

.skuSelectorSubcontainer--talla{
    order: 2;
}

.skuSelectorItemImage{
    height: 30px;
    width: 30px;
}

.skuSelectorItem{
    height: 18px;
    width: 18px;
    margin: 4px 4px;
}

.skuSelectorSubcontainer--color{
    margin: .1rem 0 .3rem 0;
}

.skuSelectorSubcontainer--talla{
    margin: .3rem 0 .5rem 0;
}

.skuSelectorOptionsList{
    margin: 0;
}

.skuSelectorSubcontainer--color .skuSelectorItem .frameAround,
.skuSelectorSubcontainer--color .skuSelectorItem .skuSelectorInternalBox{
    border-radius: 50%;
}

.skuSelectorSubcontainer--talla .skuSelectorItem .frameAround,
.skuSelectorSubcontainer--talla .skuSelectorItem .skuSelectorInternalBox{
    border-radius: 50%;
}

.skuSelectorSubcontainer--talla .skuSelectorItemTextValue{
    padding: 0;
    font-size: 10px;
}

.imageElement--PromotionalBannerImg, .imageElement--PromotionalBannerImg3{
    width: 100%;
}

/* Estilos a el menu */
.imageElement--contentBannerMenu{
    width: 100%;
}

.imageElementLink--contentBannerMenu{
    margin: 1.2rem 0 .9rem 0;
}

.suffixWrapper--contentSearch .closeIcon--contentSearch{
    width: 25px;
    height: 25px;
}

/* Estilos a la pagina de departamento */
.imageElementLink--departmentBannerImg-1{
    margin-bottom: .5rem;
}

.imageElementLink--departmentBannerImg-3{
    margin-right: .6rem;
}

.imageElementLink--departmentBannerImg-4{
    margin: 0 .3rem;
}

.imageElementLink--departmentBannerImg-5{
    margin-left: .6rem;
    background: #f4f3f6;
}

@media only screen and (min-width: 1180px){
    .skuSelectorItem{
        height: 20px;
        width: 20px;
    }
}