.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

.stackItem--imageShelf--addWishList{
  right: 0;
  bottom: 0;
  left: auto;
  top: auto;
  padding: 5px;
  border-radius: 100%;
  background: #ffffff;
  margin: 0 3px 7px 0;
  z-index: 1 !important;
}

.stackItem--collection-flag {
  right: 0;
  left: auto;
  z-index: 1 !important;
}
@media only screen and (min-width: 1180px){
  .stackItem--imageShelf--addWishList{
    margin: 0 20px 13px 0;
  }
}
