/*Personalización de estilos*/

.container--colorBrand{
  color: #00A2DC;
}

.container--colorBrand .paragraph{
  margin: 5px 0 2px .6rem;
}

.italic--colorBrand{
  font-size: 11px;
  font-style: normal;
}

.paragraph--colorBrandSection2{
  margin: 1px 0 8px .6rem;
  font-size: 9px;
}

.italic--colorBrandSection2{
  font-style: normal;
}

.container--colorPromise{
  color: #000000;
}

.container--colorPromise .paragraph{
  margin: 0;
  text-align: center;
  font-size: 9px;
}

@media only screen and (min-width: 1180px){
  .container--colorPromise .paragraph{
    margin: 0 0 0 1rem;
    font-size: 11px;
    text-align: left;
  }
}

.container--colorPromise2{
  color: #00A2DC;
}

.container--colorPromise2 .paragraph{
  margin: 0 0 0 1rem;
  color: #000000;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
}

.strong--colorPromise{
  color: #F2A922;
}

@media only screen and (min-width: 1180px) {
  .container--colorPromise2 .paragraph{
    font-size: 13px;
  }

  .container--colorPromise .paragraph{
    font-size: 13px;
  }
}

.paragraph--titleOfertasUnicas{
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  color: #000000;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.strong--titleOfertasUnicas{
  color: #00A2DC;
}

.italic--titleOfertasUnicas{
  font-style: normal;
}

.paragraph--textOfertasUnicas{
  margin: 0 0 1.5rem 0;
  font-size: 10px;
  color: #000000;
}

@media only screen and (min-width: 768px) {
  .container--titleOfertasUnicas, .container--textOfertasUnicas{
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .paragraph--titleOfertasUnicas{
    font-size: 18px;
    margin: .5rem 0;
    line-height: 20px
  }

  .paragraph--textOfertasUnicas{
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (min-width: 1180px) {
  .paragraph--titleOfertasUnicas{
    font-size: 30px;
    margin: 1rem 0;
    line-height: 35px
  }

  .paragraph--textOfertasUnicas{
    font-size: 15px;
    margin: .2rem 0;
    text-align: left;
  }
}

/* Estiolos personalizados footer*/
.container--titleItemsfooter{
  justify-content: center;
  margin-top: 11.3rem;
}

.paragraph--titleItemsfooter{
  margin: 0 0 8px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 95%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.container--descriptionItemsfooter{
  justify-content: center;
}

.wrapper--descriptionItemsfooter{
  text-align: center;
}

.paragraph--descriptionItemsfooter{
  margin: 0 0 1rem 0;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.paragraph--infocontactItemsfooter{
  margin: 0;
  font-size: 10px;
  line-height: 95%;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.paragraph--storelocatorItemsfooter{
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}

.wrapper--locatorItemsfooter{
  color: #000000;
  font-size: 1.6rem;
}

.container--storelocatorItemsfooter{
  width: 100%;
  justify-content: center;
}

.wrapper--textSubmenu .paragraph{
  margin: 0;
}

.wrapper--textSubmenu .link{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.container--legalFooter{
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  margin-top: 0;
}

.paragraph--legalFooter{
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  margin: 3px 0;
}

.wrapper--mailItemsfooter,
.link--infocontactItemsfooter,
.wrapper--telItemsfooter,
.paragraph--infocontactItemsfooter
{
  color: #FFFFFF;
  text-decoration: none;
}

.link--linkFooter{
  color: #FFFFFF;
  text-decoration: none;
}

.paragraph--linkFooter{
  margin: 0 0 1rem 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .wrapper--mailItemsfooter, 
  .wrapper--telItemsfooter,
  .wrapper--whatsappItemsfooter
  {
    font-size: 1.2rem
  }
}

@media only screen and (min-width: 1180px) {
  .wrapper--mailItemsfooter, 
  .wrapper--telItemsfooter,
  .wrapper--whatsappItemsfooter,
  .wrapper--locatorItemsfooter{
    font-size: 1.4rem
  }

  .container--titleItemsfooter{
    justify-content: flex-start;
  }

  .paragraph--titleItemsfooter{
    font-weight: 800;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }

  .container--descriptionItemsfooter{
    justify-content: flex-start;
  }

  .wrapper--descriptionItemsfooter{
    text-align: left;
  }

  .paragraph--descriptionItemsfooter{
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;
    margin: 0 0 1.2rem 0;
  }

  .wrapper--mailItemsfooter, .wrapper--telItemsfooter{
    font-size: 1.1rem;
  }

  .paragraph--linkFooter{
    margin: 0 0 .6rem 0;
  }

  .link--linkFooter{
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.02em;
  }

  .wrapper--legalRights .paragraph{
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 19px;
    color: #000000;
    margin: 0 0 0 2.14rem;
  }

  .wrapper--icoBlacksip{
    font-size: 3rem;
    height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .wrapper--icoVtex{
    font-size: 3rem;
    height: 20px;
    display: flex;
    align-items: center;
    color: #F71963;
  }
}

@media only screen and (min-width: 1300px){
  .wrapper--legalRights .paragraph{
    margin: 0 0 0 2.5rem;
  }
}

@media only screen and (min-width: 1910px){
  .wrapper--legalRights .paragraph{
    font-size: 14.5px;
    line-height: 20px;
  }

  .wrapper--icoBlacksip, .wrapper--icoVtex{
    font-size: 4.5rem;
    height: 25px;
  }
}

/* Estilos Header */

.container--textTopHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.container--paddingActive{
  padding: .5rem 0;
}

.paragraph--textTopHeader{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: .5rem 0;
  padding: 0 4rem;
}

@media only screen and (min-width: 768px) {
  .paragraph--textTopHeader{
    padding: 0;
  }
}

.container--icoWishlist{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper--icoSearch{
  font-size: 1.3rem;
}

@media only screen and (min-width: 760px){
  .container--icoSearch .wrapper--icoSearch{
    font-size: 1.6rem;
  }
}

.paragraph--icoWishlist{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link--icoWishlist{
  font-size: 1.3rem;
  color: #000000;
  text-decoration: none;
}

/* Estilos a promesa de valor de marca */
.container--icon-Security,
.container--icon-Payment,
.container--icon-Delivery{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--icon-Security,
.wrapper--icon-Payment,
.wrapper--icon-Delivery{
  font-size: 2.2rem;
}

/* Estilos a los banners promocionales */
.container--titlePromotionalBanners{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.strong--titlePromotionalBanners{
  font-weight: 800;
  font-size: 25px;
  line-height: 31px;
  color: #000000;
}

.container--titleCategoryBanners{
  justify-content: center;
  align-items: center;
}

.wrapper--titleCategoryBanners .paragraph{
  margin: .5rem 0;
  font-weight: 900;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
}

.container--desPromotionalBanners, 
.container--desPromotionalBannersCenter{
  position: absolute;
  bottom: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph--desPromotionalBanners, 
.paragraph--desPromotionalBannersCenter{
  font-weight: 900;
  font-size: 24px;
  line-height: 95%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0;
}

.container--linkPromotionalBanners{
  align-items: center;
  justify-content: center;
}

.paragraph--linkPromotionalBanners{
  margin: 2rem 0 1rem 0;
}

.link--linkPromotionalBanners, 
.link--linkPromotionalBannersCenter{
  padding: 1rem 3.6rem;
  background: #000000;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  line-height: 95%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.paragraph--desBanners, .paragraph--desBannersCenter{
  margin: 1.5rem auto 0 auto;
  width: 90%;
}

@media only screen and (min-width: 760px){
  .wrapper--titleCategoryBanners .paragraph{
    font-size: 26px;
  }

  .container--desPromotionalBanners, .container--desPromotionalBannersCenter{
    bottom: 160px;
    justify-content: left;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .container--desPromotionalBannersCenter{
    justify-content: center;
  }

  .paragraph--desPromotionalBanners, 
  .paragraph--desPromotionalBannersCenter{
    font-size: 28px;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .container--linkPromotionalBanners{
    justify-content: left;
    width: 90%;
    margin: 0 auto;
  }

  .container--linkPromotionalBannersCenter{
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .paragraph--linkPromotionalBanners{
    margin-top: 1rem;
  }

  .paragraph--desBannersCenter{
    text-align: center;
  }
}

/* Estilos al menu mobile */
.paragraph--itemMenuLevel1{
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 1.4rem 0;
}

.wrapper--itemMenuLevel1Sale .paragraph--itemMenuLevel1{
  color: #BF6E0B;
}

.container--icoMenuLevel1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper--icoMenuLevel1{
  font-size: .6rem;
  background: #FFD400;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
}

.wrapper--icoMenuLevel1::before{
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.container--textWishlist,
.container--textlogin
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--icoWishlist::before{
  font-size: 1.6rem !important;
  font-weight: bold;
  color: #000000;
}

.wrapper--icoLogin::before{
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #000000;
}

.paragraph--textWishlist,
.paragraph--textlogin
{
  margin: 1rem 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

/* Estilos al submenu */
.container--contentSubmenuTitle,
.container--contentSubmenuTitleLink
{
  justify-content: flex-end;
}

.wrapper--contentSubmenuTitle .paragraph{
  margin: .2rem 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.wrapper--contentSubmenuTitleLink .paragraph{
  margin: .2rem 0;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.05em;
}

.link--contentSubmenuTitleLink{
  font-weight: bold;
  text-decoration-line: underline;
  color: #000000;
}

.paragraph--textSubmenuAcordeon{
  margin: .3rem 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.02em;
}

.link--textSubmenuAcordeon{
  color: #575757;
  text-decoration: none;
}

.container--submenuIco{
  justify-content: center;
  align-items: center;
}

.paragraph--submenulink{
  font-weight: 800;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: #606060;
}

.wrapper--textCategory .paragraph{
  margin: .7rem 0 .6rem 0;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
}

.wrapper--textCategory .link{
  color: #000000;
  text-decoration: none;
}

.wrapper--textSubcategory .paragraph{
  margin: .2rem 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.03em;
}

.wrapper--textSubcategory .link{
  color: #260C11;
  text-decoration: none;
}

.container--closeIco{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  left: -2px;
  z-index: 5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.wrapper--closeIco{
  color: #848484;
  font-size: 1.5rem;
}

.container--keepBuying{
  display: none;
  align-items: center;
  justify-content: center;
}

.wrapper--keepBuying .paragraph{
  margin: .5rem 0 .3rem 0;
}

.wrapper--keepBuying .link{
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media only screen and (min-width: 1180px){
  .container--closeIco{
    display: flex;
  }

  .container--keepBuying{
    display: flex;
  }
}

/* Estilos al Newsletter */
.container--titleNewsletter{
  justify-content: center;
}

.paragraph--titleNewsletter{
  font-weight: 900;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.075em;
  color: #000000;
  margin: .5rem 0;
}

.paragraph--desNewsletter{
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: center;
  padding: 0 1rem;
  margin: .5rem 0;
}

.strong--desNewsletter{
  font-weight: 800;
  font-size: 15px;
}

:global(.vtex-input__label){
  display: none;
}

.container--icoFacebook,
.container--icoInstagram,
.container--icoWhatsapp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--icoFacebook .paragraph,
.container--icoInstagram .paragraph,
.container--icoWhatsapp .paragraph{
  margin: 1.24rem 0 0 0;
}

.container--icoFacebook .link,
.container--icoInstagram .link,
.container--icoWhatsapp .link{
  font-size: 1.3rem;
  color: #000000;
  text-decoration: none;
}

@media only screen and (min-width: 1180px){
  .container--titleItemsfooter{
    margin-top: 6.7rem;
  }

  .paragraph--titleNewsletter{
    font-weight: 900;
    font-size: 35px;
    line-height: 13px;
    letter-spacing: 0.075em;
    margin: 1.2rem 0;
  }

  .container--desNewsletter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .paragraph--desNewsletter{
    font-size: 15px;
  }

  .strong--desNewsletter{
    font-size: 20px;
  }

  .container--icoFacebook .paragraph,
  .container--icoInstagram .paragraph,
  .container--icoWhatsapp .paragraph{
    margin: 1.7rem 0 0 0;
  }

  .container--icoFacebook .link,
  .container--icoInstagram .link,
  .container--icoWhatsapp .link{
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
  }
}

.container--titleShelf{
  justify-content: center;
}

.container--titleShelf .paragraph{
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.wrapper--titleShelf .paragraph{
  margin-top: 0;
  font-weight: bold;
  font-size: 25px;
}


/* Estilos pagina de departamento */
.wrapper--departmentBreadCrumb{
  width: 88%;
  margin: 0 auto;  
}

.wrapper--departmentBreadCrumb .paragraph{
  line-height: 13px;
  font-size: 9px;
  margin-top: .2rem;
}

.wrapper--departmentBreadCrumb .paragraph .link{
  color: #000000;
  text-decoration: none;
}

.container--departmentTitle{
  width: 88%;
  margin: 0 auto;  
}

.wrapper--departmentTitle .paragraph{
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  color: #000000;
  margin: .3rem 0 0 0;
}

.container--departmentDescription{
  width: 88%;
  margin: 0 auto;
}

.wrapper--departmentDescription .paragraph{
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  width: 100%;
  margin: 0 0 1rem 0;
}

@media only screen and (min-width: 1180px){
  .wrapper--departmentBreadCrumb,
  .container--departmentTitle,
  .container--departmentDescription{
    width: 100%;
  }

  .wrapper--departmentBreadCrumb .paragraph{
    font-size: 10px;
    margin-top: 9px;
  } 
  .wrapper--departmentTitle .paragraph{
    font-size: 22px;
    margin: 1rem 0 .5rem 0;
  }

  .wrapper--departmentDescription .paragraph{
    font-size: 12px;
    width: 78%;
    margin: 0 0 1.3rem 0;
  }
}

.wrapper--textOrderBy .paragraph{
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #000000;
}