/* @media only screen and (max-width: 768px) {
    .slide--contentSlide{
        margin-left: 0.6% !important;
        margin-right: 0.6% !important;
    }
} */

.sliderLayoutContainer--contentSlide{
    width: 100% !important;
}

@media only screen and (max-width: 760px){
    .slide--contentSlide{
        width: 7.21% !important;
        margin-left: 0.32125% !important;
        margin-right: 0.32125% !important;
    }

    .sliderArrows--contentBanner{
        display: none;
    }
}

@media only screen and (min-width: 740px) {
    .sliderLayoutContainer--contentSlide{
        width: 85% !important;
    }
}

.sliderLayoutContainer--contentBanner{
    margin-bottom: 2rem;
}

.imageElementLink--contentBanner{
    width: 100%;
}

.paginationDotsContainer--contentBanner{
    bottom: -10px;
}

.paginationDot--contentBanner{
    padding: 0;
}

.sliderArrows{
    height: 29px;
    width: 29px;
    padding: 10px;
    background: #FFD400 !important;
    border-radius: 50%;
}

.paginationDotsContainer{
    bottom: -1rem;
}

.sliderLeftArrow--contentBanner{
    left: 4%;
}

.sliderRightArrow--contentBanner{
    right: 4%;
}

/* Baner secundarios */
.sliderLayoutContainer--contentPromotionalBanner{
    width: 100% !important;
    margin: 1.4rem 0;
}

.paginationDotsContainer--contentPromotionalBanner{
    bottom: -1.8rem;
}

.paginationDot--contentPromotionalBanner{
    margin: 0 .5rem
}

@media only screen and (max-width: 759px){
    .sliderLayoutContainer--contentPromotionalBanner{
        justify-content: flex-end;
    }

    .sliderTrackContainer--contentPromotionalBanner{
        width: 96%;
    }
}

@media only screen and (min-width: 740px){
    .sliderLayoutContainer--contentPromotionalBanner{
        width: 93% !important;
    }
}

.imageElementLink--contentPromotionalBanner{
    width: 100%;
}

.slide--contentPromotionalBanner{
    width: 9% !important;
    margin-left: 0 !important;
    margin-right: 1.3% !important;
}

.sliderLayoutContainer--contentCategoryBanner{
    width: 100% !important;
    margin: 1.4rem 0;
}

@media only screen and (max-width: 759px){
    .sliderLayoutContainer--contentCategoryBanner{
        justify-content: flex-end;
    }
    .sliderTrackContainer--contentCategoryBanner{
        width: 93%;
    }
}

@media only screen and (min-width: 740px){
    .sliderLayoutContainer--contentCategoryBanner{
        width: 93% !important;
    }
}

.imageElementLink--contentCategoryBanner{
    width: 100%;
}

.slide--contentCategoryBanner{
    width: 11.5% !important;
    margin-left: 0 !important;
    margin-right: 1% !important;
}

.paginationDotsContainer--contentBanner{
    bottom: -1.5rem;
}

.caretIcon{
    height: 10px !important;
    width: 10px !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--sliderContentShelf) .sliderArrows{
    top: 25%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--sliderContentShelf) .sliderRightArrow{
    right: -1%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--sliderContentShelf) .sliderLeftArrow{
    left: -1%;
}


.sliderLayoutContainer--slider-new-balance{
    margin: .3rem 0 3rem 0;
}

.slide--slider-new-balance{
    margin-right: 1% !important;
    margin-left: 0 !important;
    width: 9% !important;
}

.paginationDotsContainer--slider-new-balance{
    bottom: -1.5rem;
}

.sliderTrack--slider-new-balance{
    margin-top: .2rem;
    margin-left: 1.5rem;

}


.sliderLayoutContainer--departmenBannerSlide{
    margin: .3rem 0 3rem 0;
}

.slide--departmenBannerSlide{
    margin-right: 1% !important;
    margin-left: 0 !important;
    width: 9% !important;
}

.slide--departmenBannerSlide-ecobag{
    margin-right: 0.3625%!important;
    margin-left: 0 !important;
    width: 12% !important;
}

.sliderTrack--departmenBannerSlide-ecobag{
    margin-top: .2rem;
    margin-left: 3.6rem;
}

.paginationDotsContainer--departmenBannerSlide-ecobag{
    bottom: -1.5rem;
    display: none  !important;
}

.paginationDotsContainer--departmenBannerSlide{
    bottom: -1.5rem;
}

.sliderTrack--departmenBannerSlide{
    margin-top: .2rem;
    margin-left: 1.5rem;
}

@media only screen and (min-width: 740px){
    .sliderLayoutContainer--departmenBannerSlide{
        margin: 1rem 0 2rem 0;
    }

    .sliderLayoutContainer--slider-new-balance{
        margin: 1rem 0 2rem 0;
        background-color: #f0eced;
    }

    .slide--promBannerContent:nth-child(odd){
        width: 14.15% !important;
        margin-left: 1% !important;
        margin-right: 0 !important;
    }

    .slide--promBannerContent:nth-child(even){
        width: 9% !important;
        margin-left: 1% !important;
        margin-right: 0 !important;
    }

    .sliderLeftArrow--promBannerContent{
        left: 15px;
        top: 13rem;
    }

    .sliderRightArrow--promBannerContent{
        right: 15px;
        top: 13rem;
    }

    .paginationDot--promBannerContent{
        height: 1rem !important;
        width: 1rem !important;
        margin: 0 .7rem;
    }
}

@media only screen and (min-width: 1180px){
    .slide--promBannerContent:nth-child(odd){
        width: 26% !important;
        margin-left: .8% !important;
        margin-right: 0 !important;
    }

    .slide--promBannerContent:nth-child(even){
        width: 16.5% !important;
        margin-left: .8% !important;
        margin-right: 0 !important;
    }
}

.sliderLayoutContainer--contentSlideBrand{
    width: 90% !important;
    margin: 0 auto 3rem auto;
}

.sliderLeftArrow--contentSlideBrand{
    left: -15px;
}

.sliderRightArrow--contentSlideBrand{
    right: -15px;
}

.sliderArrows--contentSlideBrand{
    padding: 0;
    background: transparent !important;
}

.sliderArrows--contentSlideBrand .caretIcon{
    height: 23px !important;
    width: 23px !important;
}

@media only screen and (min-width: 740px){
    .sliderLayoutContainer--contentSlideBrand{
        width: 92% !important;
    }

    .sliderLeftArrow--contentSlideBrand{
        left: -17px;
    }
    
    .sliderRightArrow--contentSlideBrand{
        right: -17px;
    }
}

@media only screen and (min-width: 740px){
    .sliderLayoutContainer--contentSlideBrand{
        width: 76% !important;
    }

    .sliderLeftArrow--contentSlideBrand{
        left: -35px;
    }
    
    .sliderRightArrow--contentSlideBrand{
        right: -35px;
    }
}


@media screen and (max-width: 768px) {
  .sliderTrack--vitrine-sale {
    flex-wrap: wrap;
  }

  .slide--vitrine-sale {
    width: 50% !important;
    margin-bottom: 1rem;
  }
}

.sliderTrackContainer--sub-banners-sale {
  padding: 0 10% 0 5%;
}

.slide--sub-banners-sale {
  padding-right: 15px;
}

.paginationDotsContainer--sub-banners-sale {
  bottom: -1.5rem;
}

.slide--carrouselFragancias {
    margin-bottom: 1%;
}

