.openIconContainer--menu-drawer{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.8rem;
}

.openIconContainer--menu-drawer .menuIcon--menu-drawer{
    display: none;
}

/* Estilos al menu mobile */
.drawerHeader--contenedorMenuHeader{
    margin-bottom: 1.5rem;
}

.closeIconButton{
    padding: 0;
}

.closeIcon{
    height: 40px !important;
    width: 40px !important;
    color: #848484;
}

.drawerContent--menu-drawer, .drawerContent--menuDrawerLevel1{
    overflow: visible;
}

.openIconContainer--menuDrawerLevel1{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.menuIcon--menuDrawerLevel1{
    color: transparent;
}