.openIconContainer--menu-drawer{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.8rem;
}

.openIconContainer--menu-drawer .menuIcon--menu-drawer{
    display: none;
}

/* Estilos al menu mobile */
.drawer--menuDrawerLevel1, .drawer--menu-drawer{
    width: 81% !important;
    min-width: 250px !important;
}

.drawerHeader--contenedorMenuHeader{
    margin-bottom: 1.7rem;
}

.closeIconButton{
    padding: 0;
}

.closeIcon{
    height: 40px !important;
    width: 40px !important;
    color: transparent;
}

.drawerContent--menu-drawer, .drawerContent--menuDrawerLevel1{
    overflow: visible;
}

.openIconContainer--menuDrawerLevel1{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.menuIcon--menuDrawerLevel1{
    color: transparent;
}


/* Estilos a los filtros */
.openIconContainer--filterDrawer{
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .75rem .5rem 2rem;
}

.openIconContainer--filterDrawer::before{
    content: 'Filtrar';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.drawerContent--filterDrawer{
    position: relative;
    padding-top: 1rem;
}

.openIconContainer--filterDrawerDeskNew{
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .75rem .5rem 2rem;
}

.openIconContainer--filterDrawerDeskNew::before{
    content: 'Filtrar';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.drawerContent--filterDrawerDeskNew{
    position: relative;
    padding-top: 1rem;
    margin: 0 auto;
}

.drawerHeader--contenedorFilterHeader{
    position: absolute;
    top: 1rem;
    left: 0.3rem;
}

.drawerHeader--contenedorFilterHeader :global(.vtex-rich-text-0-x-wrapper--closeIco){
    color: #000000;
}

.drawerContent--filterDrawer :global(.vtex-checkbox__label){
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
}

.drawerContent--filterDrawer :global(.vtex-checkbox__line-container){
    margin-bottom: .5rem;
}

.drawerContent--filterDrawer :global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar {
    width: 6px;
    background: #FFFFFF;
}

.drawerContent--filterDrawer :global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar-thumb {
    display: block;
    background: #C4C4C4;
    border-radius: 10px;
}

.drawerContent--filterDrawer :global(.vtex-search-result-3-x-filterTemplateOverflow){
    width: 221px;
    padding-left: 1.5rem;
}

.opened--filterDrawer{
    left: 50%;
    transform: translateX(-50%) !important;
}


.drawerContent--filterDrawerDeskNew :global(.vtex-checkbox__line-container){
    margin-bottom: .5rem;
}

.drawerContent--filterDrawerDeskNew :global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar {
    width: 6px;
    background: #FFFFFF;
}

.drawerContent--filterDrawerDeskNew :global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar-thumb {
    display: block;
    background: #C4C4C4;
    border-radius: 10px;
}

.drawerContent--filterDrawerDeskNew :global(.vtex-search-result-3-x-filterTemplateOverflow){
    width: 221px;
    padding-left: 1.5rem;
    max-height: 400px !important;
}

.opened--filterDrawerDeskNew{
    right: -5%;
    transform: translateX(-50%) !important;
}

