.formSubmitButton--submit-dsi :global(.vtex-button) {
  /* padding: 0 1rem !important; */
  margin-top: 1rem;

  /**nuevos estlos**/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.7rem 1rem !important;
  border: 0;
  /**nuevos estlos**/
}
.formSubmitButton--submit-memorama :global(.vtex-button) {
  margin-top: 1rem;
  background-color: #ffc600;
  border-radius: 15px;
  padding: 10px 30px !important;
  border: 0;
  text-align: center;
  font-weight: bold;
}

.input {
background: red;
}

/*Traba con nosotros*/
.formSubmitButton--submit-workwithus-new :global(.vtex-button) {
background-color: #FFD400;
border: 0;
border-radius: 80px;
padding: 16px 40px;
color: #000;
font-weight: bold;
width: 449px;
height: 47px;
}

/**form primera compra**/
@media (max-width:768px) {
.formSubmitButton--submit-workwithus-new :global(.vtex-button) {
  width: 100%;
}
}

/***Form live shopping**/
.formSubmitButton--submit-live-shopping :global(.vtex-button) {
  background-color: #FFD400;
  border: 0;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto 0 auto;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/**Friends and family**/
.formSubmitButton--submit-friends-family :global(.vtex-button) {
  background-color: #FFD400;
  border: 0;
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  margin: 20px auto 0 auto;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}