.link--contentIcoWhatsApp{
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 1000;
}

@media screen and (min-width: 1080px){
    .link--contentIcoWhatsApp{
        bottom: 2.5rem;
        right: 2.5rem;
    }
}