/*Personalización de estilos*/

.container--colorBrand{
  color: #00A2DC;
}

.container--colorBrand .paragraph{
  margin: 5px 0 2px .6rem;
}

.italic--colorBrand{
  font-size: 11px;
  font-style: normal;
}

.paragraph--colorBrandSection2{
  margin: 1px 0 8px .6rem;
  font-size: 9px;
}

.italic--colorBrandSection2{
  font-style: normal;
}

.container--colorPromise{
  color: #000000;
}

.container--colorPromise .paragraph{
  margin: 0;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1180px){
  .container--colorPromise .paragraph{
    margin: 0 0 0 1rem;
    font-size: 11px;
    text-align: left;
  }
}

.container--colorPromise2{
  color: #00A2DC;
}

.container--colorPromise2 .paragraph{
  margin: 0 0 0 1rem;
  color: #000000;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
}

.strong--colorPromise{
  color: #F2A922;
}

@media only screen and (min-width: 1180px) {
  .container--colorPromise2 .paragraph{
    font-size: 13px;
  }

  .container--colorPromise .paragraph{
    font-size: 13px;
  }
}

.paragraph--titleOfertasUnicas{
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  color: #000000;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.strong--titleOfertasUnicas{
  color: #00A2DC;
}

.italic--titleOfertasUnicas{
  font-style: normal;
}

.paragraph--textOfertasUnicas{
  margin: 0 0 1.5rem 0;
  font-size: 10px;
  color: #000000;
}

@media only screen and (min-width: 740px) {
  .container--titleOfertasUnicas, .container--textOfertasUnicas{
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .paragraph--titleOfertasUnicas{
    font-size: 18px;
    margin: .5rem 0;
    line-height: 20px
  }

  .paragraph--textOfertasUnicas{
    font-size: 13px;
    text-align: left;
  }
}

@media only screen and (min-width: 1180px) {
  .paragraph--titleOfertasUnicas{
    font-size: 30px;
    margin: 1rem 0;
    line-height: 35px
  }

  .paragraph--textOfertasUnicas{
    font-size: 15px;
    margin: .2rem 0;
    text-align: left;
  }
}

/* Estiolos personalizados footer*/
.container--titleItemsfooter{
  justify-content: center;
  margin-top: 11.3rem;
}

.paragraph--titleItemsfooter{
  margin: 0 0 8px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 95%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.container--descriptionItemsfooter{
  justify-content: center;
}

.wrapper--descriptionItemsfooter{
  text-align: center;
}

.paragraph--descriptionItemsfooter{
  margin: 0 0 1rem 0;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.paragraph--infocontactItemsfooter{
  margin: 0;
  font-size: 10px;
  line-height: 95%;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.paragraph--storelocatorItemsfooter{
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}

.wrapper--locatorItemsfooter{
  color: #000000;
  font-size: 1.6rem;
}

.container--storelocatorItemsfooter{
  width: 100%;
  justify-content: center;
}

.wrapper--textSubmenu .paragraph{
  margin: 0;
}

.wrapper--textSubmenu .link{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.container--legalFooter{
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  margin-top: 0;
}

.paragraph--legalFooter{
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  margin: 3px 0;
}

.wrapper--mailItemsfooter,
.link--infocontactItemsfooter,
.wrapper--telItemsfooter,
.paragraph--infocontactItemsfooter
{
  color: #FFFFFF;
  text-decoration: none;
}

.link--linkFooter{
  color: #FFFFFF;
  text-decoration: none;
}

.paragraph--linkFooter{
  margin: 0 0 1rem 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 740px) {
  .wrapper--mailItemsfooter, 
  .wrapper--telItemsfooter,
  .wrapper--whatsappItemsfooter
  {
    font-size: 1.2rem
  }
}

@media only screen and (min-width: 1180px) {
  .wrapper--mailItemsfooter, 
  .wrapper--telItemsfooter,
  .wrapper--whatsappItemsfooter,
  .wrapper--locatorItemsfooter{
    font-size: 1.4rem
  }

  .container--titleItemsfooter{
    justify-content: flex-start;
  }

  .paragraph--titleItemsfooter{
    font-weight: 800;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }

  .container--descriptionItemsfooter{
    justify-content: flex-start;
  }

  .wrapper--descriptionItemsfooter{
    text-align: left;
  }

  .paragraph--descriptionItemsfooter{
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.02em;
    margin: 0 0 1.2rem 0;
  }

  .wrapper--mailItemsfooter, .wrapper--telItemsfooter{
    font-size: 1.1rem;
  }

  .paragraph--linkFooter{
    margin: 0 0 .6rem 0;
  }

  .link--linkFooter{
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0.02em;
  }

  .wrapper--legalRights .paragraph{
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 19px;
    color: #000000;
    margin: 0 0 0 2.14rem;
  }

  .wrapper--icoBlacksip{
    font-size: 3rem;
    height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .wrapper--icoVtex{
    font-size: 3rem;
    height: 20px;
    display: flex;
    align-items: center;
    color: #F71963;
  }
}

@media only screen and (min-width: 1300px){
  .wrapper--legalRights .paragraph{
    margin: 0 0 0 2.5rem;
  }
}

@media only screen and (min-width: 1910px){
  .wrapper--legalRights .paragraph{
    font-size: 14.5px;
    line-height: 20px;
  }

  .wrapper--icoBlacksip, .wrapper--icoVtex{
    font-size: 4.5rem;
    height: 25px;
  }
}

/* Estilos Header */

.container--textTopHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.container--paddingActive{
  padding: .5rem 0;
}

.paragraph--textTopHeader{
  color: #FFFFFF;
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: .5rem 0;
  padding: 0 4rem;
}

@media only screen and (min-width: 740px) {
  .paragraph--textTopHeader{
    padding: 0;
  }
}

.container--icoWishlist{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper--icoSearch{
  font-size: 1.3rem;
}

@media only screen and (min-width: 740px){
  .container--icoSearch .wrapper--icoSearch{
    font-size: 1.6rem;
  }
}

.paragraph--icoWishlist{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link--icoWishlist{
  font-size: 1.3rem;
  color: #000000;
  text-decoration: none;
}

/* Estilos a promesa de valor de marca */
.container--icon-Security,
.container--icon-Payment,
.container--icon-Delivery{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--icon-Security,
.wrapper--icon-Payment,
.wrapper--icon-Delivery{
  font-size: 2.2rem;
}

/* Estilos a los banners promocionales */
.container--titlePromotionalBanners{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.strong--titlePromotionalBanners{
  font-weight: 800;
  font-size: 25px;
  line-height: 31px;
  color: #000000;
}

.container--titleCategoryBanners{
  justify-content: center;
  align-items: center;
}

.wrapper--titleCategoryBanners .paragraph{
  margin: .5rem 0;
  font-weight: 900;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
}

.container--desPromotionalBanners, 
.container--desPromotionalBannersCenter{
  position: absolute;
  bottom: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph--desPromotionalBanners, 
.paragraph--desPromotionalBannersCenter{
  font-weight: 900;
  font-size: 24px;
  line-height: 95%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0;
}

.container--linkPromotionalBanners{
  align-items: center;
  justify-content: center;
}

.paragraph--linkPromotionalBanners{
  margin: 2rem 0 1rem 0;
}

.link--linkPromotionalBanners, 
.link--linkPromotionalBannersCenter{
  padding: 1rem 3.6rem;
  background: #000000;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  line-height: 95%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.paragraph--desBanners, .paragraph--desBannersCenter{
  margin: 1.5rem auto 0 auto;
  width: 90%;
}

@media only screen and (min-width: 740px){
  .wrapper--titleCategoryBanners .paragraph{
    font-size: 26px;
  }

  .container--desPromotionalBanners, .container--desPromotionalBannersCenter{
    bottom: 160px;
    justify-content: left;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .container--desPromotionalBannersCenter{
    justify-content: center;
  }

  .paragraph--desPromotionalBanners, 
  .paragraph--desPromotionalBannersCenter{
    font-size: 28px;
    letter-spacing: 0.03em;
    color: #000000;
  }

  .container--linkPromotionalBanners{
    justify-content: left;
    width: 90%;
    margin: 0 auto;
  }

  .container--linkPromotionalBannersCenter{
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .paragraph--linkPromotionalBanners{
    margin-top: 1rem;
  }

  .paragraph--desBannersCenter{
    text-align: center;
  }
}

/* Estilos al menu mobile */
.paragraph--itemMenuLevel1{
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 1.4rem 0;
}

.wrapper--itemMenuLevel1Sale .paragraph--itemMenuLevel1{
  color: #BF6E0B;
}

.container--icoMenuLevel1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper--icoMenuLevel1{
  font-size: .6rem;
  background: #FFD400;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
}

.wrapper--icoMenuLevel1::before{
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.container--textWishlist,
.container--textlogin
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--icoWishlist::before{
  font-size: 1.6rem !important;
  font-weight: bold;
  color: #000000;
}

.wrapper--icoLogin::before{
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #000000;
}

.paragraph--textWishlist,
.paragraph--textlogin
{
  margin: 1rem 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

/* Estilos al submenu */
.container--contentSubmenuTitle,
.container--contentSubmenuTitleLink
{
  justify-content: flex-end;
}

.wrapper--contentSubmenuTitle .paragraph{
  margin: .2rem 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
}

.wrapper--contentSubmenuTitleLink .paragraph{
  margin: .2rem 0;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.05em;
}

.link--contentSubmenuTitleLink{
  font-weight: bold;
  text-decoration-line: underline;
  color: #000000;
}

.paragraph--textSubmenuAcordeon{
  margin: .3rem 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.02em;
}

.link--textSubmenuAcordeon{
  color: #575757;
  text-decoration: none;
}

.container--submenuIco{
  justify-content: center;
  align-items: center;
}

.paragraph--submenulink{
  font-weight: 800;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: #606060;
}

.wrapper--textCategory .paragraph{
  margin: .7rem 0 .6rem 0;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
}

.wrapper--textCategory .link{
  color: #000000;
  text-decoration: none;
}

.wrapper--textSubcategory .paragraph{
  margin: .2rem 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.03em;
}

.wrapper--textSubcategory .link{
  color: #260C11;
  text-decoration: none;
}

.container--closeIco{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  left: -2px;
  z-index: 5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.wrapper--closeIco{
  color: #848484;
  font-size: 1.5rem;
}

.container--keepBuying{
  display: none;
  align-items: center;
  justify-content: center;
}

.wrapper--keepBuying .paragraph{
  margin: .5rem 0 .3rem 0;
}

.wrapper--keepBuying .link{
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media only screen and (min-width: 1180px){
  .container--closeIco{
    display: flex;
  }

  .container--keepBuying{
    display: flex;
  }
}

/* Estilos al Newsletter */
.container--titleNewsletter{
  justify-content: center;
}

.paragraph--titleNewsletter{
  font-weight: 900;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.075em;
  color: #000000;
  margin: .5rem 0;
}

.paragraph--desNewsletter{
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: center;
  padding: 0 1rem;
  margin: .5rem 0;
}

.strong--desNewsletter{
  font-weight: 800;
  font-size: 15px;
}

:global(.vtex-input__label){
  display: none;
}

.container--icoFacebook,
.container--icoInstagram,
.container--icoWhatsapp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--icoFacebook .paragraph,
.container--icoInstagram .paragraph,
.container--icoWhatsapp .paragraph{
  margin: 1.24rem 0 0 0;
}

.container--icoFacebook .link,
.container--icoInstagram .link,
.container--icoWhatsapp .link{
  font-size: 1.3rem;
  color: #000000;
  text-decoration: none;
}

@media only screen and (min-width: 740px){
  .container--titleItemsfooter{
    margin-top: 9.7rem;
  }

  .paragraph--titleNewsletter{
    font-weight: 900;
    font-size: 35px;
    line-height: 13px;
    letter-spacing: 0.075em;
    margin: 1.2rem 0;
  }

  .container--desNewsletter{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .paragraph--desNewsletter{
    font-size: 15px;
  }

  .strong--desNewsletter{
    font-size: 20px;
  }

  .container--icoFacebook .paragraph,
  .container--icoInstagram .paragraph,
  .container--icoWhatsapp .paragraph{
    margin: 1.7rem 0 0 0;
  }

  .container--icoFacebook .link,
  .container--icoInstagram .link,
  .container--icoWhatsapp .link{
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1180px){
  .container--titleItemsfooter{
    margin-top: 6.7rem;
  }
}

.container--titleShelf{
  justify-content: center;
}

.container--titleShelf .paragraph{
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.wrapper--titleShelf .paragraph{
  margin-top: 0;
  font-weight: bold;
  font-size: 25px;
}


/* Estilos pagina de departamento */
.wrapper--departmentBreadCrumb{
  width: 88%;
  margin: 0 auto;  
}

.wrapper--departmentBreadCrumb .paragraph{
  line-height: 13px;
  font-size: 9px;
  margin-top: .2rem;
}

.wrapper--departmentBreadCrumb .paragraph .link{
  color: #000000;
  text-decoration: none;
}

.container--departmentTitle{
  width: 88%;
  margin: 0 auto;  
}

.wrapper--departmentTitle .paragraph{
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  color: #000000;
  margin: .3rem 0 0 0;
}

.container--departmentDescription{
  width: 88%;
  margin: 0 auto;
}

.wrapper--departmentDescription .paragraph{
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  width: 100%;
  margin: 0 0 1rem 0;
}

@media only screen and (min-width: 1180px){
  .wrapper--departmentBreadCrumb,
  .container--departmentTitle,
  .container--departmentDescription{
    width: 100%;
  }

  .wrapper--departmentBreadCrumb .paragraph{
    font-size: 10px;
    margin-top: 9px;
  } 
  .wrapper--departmentTitle .paragraph{
    font-size: 22px;
    margin: 1rem 0 .5rem 0;
  }

  .wrapper--departmentDescription .paragraph{
    font-size: 12px;
    width: 78%;
    margin: 0 0 1.3rem 0;
  }
}

.wrapper--textOrderBy .paragraph{
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: #000000;
}

:global(.vtex-tab-layout-0-x-listItemChildren) .paragraph{
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #848484;
}

.wrapper--product-tab-description .paragraph--product-tab-description,
.wrapper--product-tab-specification .paragraph--product-tab-specification,
.wrapper--product-tab-comment .paragraph--product-tab-comment
{
  margin: 0;
}

:global(.vtex-tab-layout-0-x-listItemChildrenActive) .paragraph{
  border-bottom: 3px solid #FFD400;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.container--tabArrow{
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1684 9.32105L12.5421 4.69474C12.1158 4.26842 11.4053 4.26842 10.9789 4.69474C10.5526 5.12105 10.5526 5.83158 10.9789 6.25789L13.7105 9.00526L3.60526 9.00526C2.98947 9.00526 2.5 9.49474 2.5 10.1105C2.5 10.7263 2.98947 11.2158 3.60526 11.2158L13.7105 11.2158L10.9789 13.9474C10.5526 14.3737 10.5526 15.0842 10.9789 15.5105C11.2 15.7316 11.4842 15.8421 11.7684 15.8421C12.0526 15.8421 12.3368 15.7316 12.5579 15.5105L17.1684 10.9C17.3737 10.6947 17.5 10.4105 17.5 10.1105C17.5 9.81053 17.3895 9.52632 17.1684 9.32105Z' fill='%23FFD400'/%3E%3C/svg%3E");
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 1rem;
}

.container--titleShelfProduct{
  justify-content: center;
  margin: 3rem 0 1rem 0;
}

.wrapper--titleShelfProduct .paragraph{
  font-weight: bold;
  padding: 0 .3rem;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  margin: 0;
  position: relative;
  z-index: 2;
}

.wrapper--titleShelfProduct .paragraph::before{
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 4px;
  background: #FFD400;
  z-index: -1;
}

.wrapper--moreInfo .paragraph{
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.5px;
  color: #222221 !important;
  display: block;
  text-decoration: none;
}

.wrapper--icoFlechaMore{
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.1813 9.44263L8.85912 6.89816C9.10588 6.66368 9.10588 6.27289 8.85912 6.03842C8.61236 5.80395 8.20109 5.80395 7.95433 6.03842L6.36409 7.54079L6.36409 1.98289C6.36409 1.64421 6.08077 1.375 5.72434 1.375C5.36791 1.375 5.08459 1.64421 5.08459 1.98289L5.08459 7.54079L3.50349 6.03842C3.25673 5.80395 2.84546 5.80395 2.5987 6.03842C2.47075 6.16 2.40677 6.31632 2.40677 6.47263C2.40677 6.62895 2.47075 6.78526 2.5987 6.90684L5.26737 9.44263C5.38618 9.55553 5.55069 9.625 5.72434 9.625C5.89799 9.625 6.06249 9.56421 6.1813 9.44263Z' fill='%23333333'/%3E%3C/svg%3E");
  width: 12px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.container--icoFlechaMore{
  justify-content: flex-end;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-input__label){
  display: block;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.055em;
  color: #292929;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-input-prefix__group){
  height: 20px;
  border-bottom: 1px solid #000000;
  margin-bottom: 1.5rem;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-styleguide-9-x-input){
  font-size: 13px;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-textarea__label){
  display: block;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.055em;
  color: transparent;
  position: relative;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-textarea__label)::before{
  content: '¿Qué opinas de este producto?';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #292929;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-textarea__input){
  border: 1px solid #606060;
  font-size: 13px;
  border-radius: 0;
}

:global(.vtex-reviews-and-ratings-1-x-container) :global(.vtex-button){
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Estilos a paginas de error */
.container--btnHome{
  justify-content: center;
}

.wrapper--btnHome .paragraph .link{
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: block;
  background: #000000;
  border-radius: 100px;
  padding: .8rem 1.8rem;
  text-decoration: none;
}

.container--errorBusqueda{
  justify-content: center;
}

.wrapper--errorBusqueda .paragraph{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.29em;
  color: #000000;
  margin-bottom: .3rem;
}

.wrapper--errorBusquedaDes{
  width: 62%;
  margin: 0 auto;
}

.wrapper--errorBusquedaDes .paragraph{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.container--btnLink{
  justify-content: center;
}

.wrapper--btnLink{
  width: 100%;
}

.wrapper--btnLink .paragraph{
  margin: .3rem .5rem;
}

.wrapper--btnLink .link{
  width: 100%;
  display: block;
  padding: .5rem;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 100px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.175em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper--btnLinkRed .link{
  color: #DD0B3D;
  font-weight: 800;
}

@media only screen and (min-width: 1180px){
  .wrapper--btnLink .paragraph{
    margin: .3rem .7rem;
  }

  .container--tabArrow{
    margin-left: 0;
  }
}

/* Estilos a pagina de wishList */
.wrapper--wishlistTitle .paragraph{
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  padding: 0 2rem;
  position: relative;
}

.wrapper--wishlistTitle .paragraph::before{
  content: '';
  width: 24px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0169 2.39369L18.0176 2.3944C19.932 4.39293 19.9457 7.56759 18.011 9.6554L10.5547 17.5379C10.496 17.5892 10.3391 17.6658 10.1538 17.6658C9.94514 17.6658 9.84326 17.624 9.67993 17.4669L2.29673 9.65544C0.362005 7.56762 0.375726 4.39295 2.29008 2.3944L2.29988 2.38417L2.30933 2.37362C3.21838 1.35899 4.44785 0.85 5.76091 0.85C7.04982 0.85 8.29784 1.41718 9.23106 2.39369L9.24119 2.40429L9.25168 2.41453L9.55995 2.7156L10.1538 3.29561L10.7477 2.7156L11.056 2.41453L11.0763 2.39473L11.0952 2.37362C12.0043 1.35899 13.2337 0.85 14.5468 0.85C15.8357 0.85 17.0837 1.41718 18.0169 2.39369Z' fill='white' stroke='%23222221' stroke-width='1.7'/%3E%3Cpath d='M22.058 8.80611L22.0587 8.80682C23.5082 10.3557 23.5216 12.8269 22.0522 14.4506L16.1866 20.7978C16.1802 20.8023 16.1629 20.8137 16.1322 20.8257C16.0889 20.8425 16.0413 20.8514 16 20.8514C15.917 20.8514 15.8858 20.8385 15.8745 20.8335C15.8603 20.8272 15.8258 20.8092 15.7613 20.7463L9.94793 14.4507C8.47845 12.827 8.49181 10.3557 9.94131 8.80682L9.95097 8.7965L9.96028 8.78587C10.6426 8.00631 11.5597 7.61923 12.5389 7.61923C13.4939 7.61923 14.4294 8.04951 15.1358 8.80611L15.1458 8.81682L15.1562 8.82717L15.3991 9.06997L16 9.67069L16.6009 9.06997L16.8438 8.82718L16.8638 8.80717L16.8825 8.78587C17.5648 8.00631 18.4819 7.61923 19.4611 7.61923C20.4161 7.61923 21.3516 8.04951 22.058 8.80611Z' fill='%23FFD400' stroke='%23FFD400' stroke-width='1.7'/%3E%3C/svg%3E%0A");
}

@media only screen and (min-width: 1180px){
  .wrapper--wishlistTitle .paragraph{
    font-size: 22px;
    line-height: 28px;
    padding: 0 2.5rem;
  }

  .container--titleShelfProduct{
    margin: 2.5rem 0 2rem 0;
  }
  
  .wrapper--titleShelfProduct .paragraph{
    font-size: 25px;
    line-height: 31px;
    margin-bottom: .5rem;
  }

  .wrapper--wishlistTitle .paragraph::before{
    width: 34px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='32' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0169 2.39369L18.0176 2.3944C19.932 4.39293 19.9457 7.56759 18.011 9.6554L10.5547 17.5379C10.496 17.5892 10.3391 17.6658 10.1538 17.6658C9.94514 17.6658 9.84326 17.624 9.67993 17.4669L2.29673 9.65544C0.362005 7.56762 0.375726 4.39295 2.29008 2.3944L2.29988 2.38417L2.30933 2.37362C3.21838 1.35899 4.44785 0.85 5.76091 0.85C7.04982 0.85 8.29784 1.41718 9.23106 2.39369L9.24119 2.40429L9.25168 2.41453L9.55995 2.7156L10.1538 3.29561L10.7477 2.7156L11.056 2.41453L11.0763 2.39473L11.0952 2.37362C12.0043 1.35899 13.2337 0.85 14.5468 0.85C15.8357 0.85 17.0837 1.41718 18.0169 2.39369Z' fill='white' stroke='%23222221' stroke-width='1.7'/%3E%3Cpath d='M22.058 8.80611L22.0587 8.80682C23.5082 10.3557 23.5216 12.8269 22.0522 14.4506L16.1866 20.7978C16.1802 20.8023 16.1629 20.8137 16.1322 20.8257C16.0889 20.8425 16.0413 20.8514 16 20.8514C15.917 20.8514 15.8858 20.8385 15.8745 20.8335C15.8603 20.8272 15.8258 20.8092 15.7613 20.7463L9.94793 14.4507C8.47845 12.827 8.49181 10.3557 9.94131 8.80682L9.95097 8.7965L9.96028 8.78587C10.6426 8.00631 11.5597 7.61923 12.5389 7.61923C13.4939 7.61923 14.4294 8.04951 15.1358 8.80611L15.1458 8.81682L15.1562 8.82717L15.3991 9.06997L16 9.67069L16.6009 9.06997L16.8438 8.82718L16.8638 8.80717L16.8825 8.78587C17.5648 8.00631 18.4819 7.61923 19.4611 7.61923C20.4161 7.61923 21.3516 8.04951 22.058 8.80611Z' fill='%23FFD400' stroke='%23FFD400' stroke-width='1.7'/%3E%3C/svg%3E%0A");
  }
}

@media only screen and (min-width: 740px) {
  .wrapper--colorPromise{
    padding-left: 1rem;
  }

  .wrapper--titleCategoryBanners .paragraph{
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
  }
}

@media only screen and (min-width: 1180px) {
  .wrapper--colorPromise{
    padding-left: 0;
  }

  .wrapper--titleCategoryBanners .paragraph{
    font-size: 26px;
  }
}

/* Estilos pagina de agradecimiento y confirmacion */
.wrapper--titleConfirmed .paragraph{
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 2rem 0 .3rem 0;
}

.wrapper--titleConfirmedDetail .paragraph,
.wrapper--confirmedDetail .paragraph{
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.025em;
  color: #000000;
}

.container--linkBtnNew{
  margin-top: 2rem;
}

.wrapper--linkBtnOrder, .wrapper--linkBtnNew{
  width: 90%;
}

.container--linkBtnNew, .container--linkBtnOrder{
  justify-content: center !important;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 750px){
  .wrapper--titleConfirmedDetail .paragraph{
    margin: 0  0 1.2rem 0;
  }

  .wrapper--linkBtnNew{
    width: 100%;
  }

  .container--linkBtnNew, .container--linkBtnOrder{
    justify-content: flex-end !important;
    margin: 0;
  }
}

.wrapper--confirmedDetail .paragraph{
  margin: 0;
}

.wrapper--customerInformation .paragraph,
.wrapper--paymentInformation .paragraph,
.wrapper--totalInformation .paragraph
{
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: .4rem;
}

.wrapper--linkBtnOrder .paragraph,
.wrapper--linkBtnNew .paragraph
{
  margin: 0;
  text-align: center;
}

.wrapper--linkBtnOrder .link--linkBtnOrder,
.wrapper--linkBtnNew .link--linkBtnNew
{
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 1rem 3rem;
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper--linkBtnOrder .link--linkBtnOrder{
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}

.wrapper--linkBtnNew .link--linkBtnNew{
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  background: #000000;
  padding: 1rem 2rem;
}

.container--linkBtnNew, .container--linkBtnOrder{
  justify-content: flex-end;
}