.formSubmitButton--submit-dsi :global(.vtex-button) {
    padding: 0 1rem !important;
    margin-top: 1rem;
}
.formSubmitButton--submit-memorama :global(.vtex-button) {
    margin-top: 1rem;
    background-color: #ffc600;
    border-radius: 15px;
    padding: 10px 30px !important;
    border: 0;
    text-align: center;
    font-weight: bold;
}
