/* @media only screen and (max-width: 768px) {
    .slide--contentSlide{
        margin-left: 0.6% !important;
        margin-right: 0.6% !important;
    }
} */

.sliderLayoutContainer--contentSlide{
    width: 100% !important;
}

@media only screen and (max-width: 768px){
    .slide--contentSlide{
        width: 7.21% !important;
        margin-left: 0.32125% !important;
        margin-right: 0.32125% !important;
    }
}

@media only screen and (min-width: 768px) {
    .sliderLayoutContainer--contentSlide{
        width: 85% !important;
    }
}

.sliderLayoutContainer--contentBanner{
    margin-bottom: 2rem;
}

.imageElementLink--contentBanner{
    width: 100%;
}

.paginationDotsContainer--contentBanner{
    bottom: -10px;
}

.paginationDot--contentBanner{
    padding: 0;
}

.sliderArrows{
    height: 29px;
    width: 29px;
    padding: 10px;
    background: #FFD400 !important;
    border-radius: 50%;
}

.paginationDotsContainer{
    bottom: -1rem;
}

.sliderLeftArrow--contentBanner{
    left: 4%;
}

.sliderRightArrow--contentBanner{
    right: 4%;
}

/* Baner secundarios */
.sliderLayoutContainer--contentPromotionalBanner{
    width: 93% !important;
    margin: 1.4rem 0;
}

.imageElementLink--contentPromotionalBanner{
    width: 100%;
}

.slide--contentPromotionalBanner{
    width: 11% !important;
    margin-left: 0 !important;
    margin-right: 1.5% !important;
}

.sliderLayoutContainer--contentCategoryBanner{
    width: 93% !important;
    margin: 1.4rem 0;
}

.imageElementLink--contentCategoryBanner{
    width: 100%;
}

.slide--contentCategoryBanner{
    width: 11.5% !important;
    margin-left: 0 !important;
    margin-right: 1% !important;
}

.paginationDotsContainer--contentBanner{
    bottom: -1.5rem;
}

.caretIcon{
    height: 10px !important;
    width: 10px !important;
}