/*.productHighlightWrapper [data-highlight-id="1171"]{
    font-size: 0;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/arquivos/flag-dsi-Pilatos.png);
    display: block;
}*/
.productHighlightWrapper [data-highlight-id="1171"]{
    font-size: 0;
}
.productHighlightWrapper [data-highlight-id="1189"] {
    font-size: 0;
}
.productHighlightWrapper [data-highlight-id="1190"] {
    font-size: 0;
}
.productHighlightWrapper [data-highlight-id="1191"] {
    font-size: 0;
}
.productHighlightWrapper [data-highlight-id="1192"] {
    font-size: 0;
}
