.link--contentIcoWhatsApp{
    position: fixed;
    /*bottom: 6rem;*/
    bottom: 2rem;
    /*right: 2.7rem;*/
    z-index: 1000;
}

@media screen and (min-width: 1080px){
    .link--contentIcoWhatsApp{
        /*bottom: 6.5rem;*/
        bottom: 2rem;
        right: 2.5rem;
    }
}

@media screen and (max-width: 767px) {
  .link--contentIcoWhatsApp {
        /*bottom: 6rem !important;*/
        bottom: 2rem !important;
        right: 27px;
  }
}

/*gift card*/

.link--giftCard-boton{


  display: inline-block;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 3%;
}

@media (max-width: 768px) {
  .link--giftCard-boton{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 14px; 
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%; 
    text-align: center; 

  }
}
