.trigger--container-products{
  background: #fff;
  border: #fff;
  cursor: pointer;
}

/*tu cuota*/
.trigger--trigger-content-icon {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #E8E8E8;
}

/**Nueva PDP**/
.trigger--disclosure-indicator-garment-care {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #DEDEDE;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .trigger--disclosure-indicator-garment-care {
    width: 90%;
    margin: 0 auto;
  }
  .content--garment-use-product-pdp {
    width: 90%;
    margin: 0 auto;
  }
}

/* menu mobile */

.trigger--content-a-i--hidden,
.trigger--content-a-i--visible {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: #fff;
  border-bottom: 0.69px solid #767272;
  margin-bottom: 6px;
}
