/* @media only screen and (max-width: 768px) {
    .slide--contentSlide{
        margin-left: 0.6% !important;
        margin-right: 0.6% !important;
    }
} */

.sliderLayoutContainer--contentSlide{
    width: 100% !important;
}

@media only screen and (max-width: 768px){
    .slide--contentSlide{
        width: 7.21% !important;
        margin-left: 0.32125% !important;
        margin-right: 0.32125% !important;
    }
}

@media only screen and (min-width: 768px) {
    .sliderLayoutContainer--contentSlide{
        width: 85% !important;
    }
}

.sliderLayoutContainer--contentBanner{
    margin-bottom: 2rem;
}

.imageElementLink--contentBanner{
    width: 100%;
}

.paginationDotsContainer--contentBanner{
    bottom: -10px;
}

.paginationDot--contentBanner{
    padding: 0;
}

.sliderArrows{
    height: 29px;
    width: 29px;
    padding: 10px;
    background: #FFD400 !important;
    border-radius: 50%;
}

.paginationDotsContainer{
    bottom: -1rem;
}

.sliderLeftArrow--contentBanner{
    left: 4%;
}

.sliderRightArrow--contentBanner{
    right: 4%;
}

/* Baner secundarios */
.sliderLayoutContainer--contentPromotionalBanner{
    width: 100% !important;
    margin: 1.4rem 0;
}

.paginationDotsContainer--contentPromotionalBanner{
    bottom: -1.8rem;
}

.paginationDot--contentPromotionalBanner{
    margin: 0 .5rem
}

@media only screen and (max-width: 759px){
    .sliderLayoutContainer--contentPromotionalBanner{
        justify-content: flex-end;
    }

    .sliderTrackContainer--contentPromotionalBanner{
        width: 96%;
    }
}

@media only screen and (min-width: 760px){
    .sliderLayoutContainer--contentPromotionalBanner{
        width: 93% !important;
    }
}

.imageElementLink--contentPromotionalBanner{
    width: 100%;
}

.slide--contentPromotionalBanner{
    width: 11% !important;
    margin-left: 0 !important;
    margin-right: 1.5% !important;
}

.sliderLayoutContainer--contentCategoryBanner{
    width: 100% !important;
    margin: 1.4rem 0;
}

@media only screen and (max-width: 759px){
    .sliderLayoutContainer--contentCategoryBanner{
        justify-content: flex-end;
    }
    .sliderTrackContainer--contentCategoryBanner{
        width: 93%;
    }
}

@media only screen and (min-width: 760px){
    .sliderLayoutContainer--contentCategoryBanner{
        width: 93% !important;
    }
}

.imageElementLink--contentCategoryBanner{
    width: 100%;
}

.slide--contentCategoryBanner{
    width: 11.5% !important;
    margin-left: 0 !important;
    margin-right: 1% !important;
}

.paginationDotsContainer--contentBanner{
    bottom: -1.5rem;
}

.caretIcon{
    height: 10px !important;
    width: 10px !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--sliderContentShelf) .sliderArrows{
    top: 25%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--sliderContentShelf) .sliderRightArrow{
    right: -1%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--sliderContentShelf) .sliderLeftArrow{
    left: -1%;
}


.sliderLayoutContainer--departmenBannerSlide{
    margin: .3rem 0 3rem 0;
}

.slide--departmenBannerSlide{
    margin-right: 1.5% !important;
    margin-left: 0 !important;
    width: 11% !important;
}

.paginationDotsContainer--departmenBannerSlide{
    bottom: -1.5rem;
}

.sliderTrack--departmenBannerSlide{
    margin-top: .2rem;
    margin-left: 1.5rem;
}

@media only screen and (min-width: 1180px){
    .sliderLayoutContainer--departmenBannerSlide{
        margin: 1rem 0 2rem 0;
    }
}