.contadorcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: black;
  color: white;
  padding: 10px;
  font-family: Arial, sans-serif;
  width: 100%;
}

.saletext {
  font-size: 17px;
  /* font-weight: bold; */
  margin-right: 8px;
}

.campotextoaqui{

  color: white !important;
  text-decoration: underline !important;
  text-decoration-color: white !important;


 }

.contador {
  display: flex;
          align-items: center;
          margin-right: 33%;
          width: 40%;
}

.grupotextos--contador-promocion-contenedor {
  width: 45%;
  margin-left: 6%;
}

.numero {
  font-size: 17px;
  font-weight: bold;
  background: #FFD400;
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 4px;
}

/*este es el texto que va intermedio de los numeros*/
.label--contador-promocion-contenedor {

  font-size: 15px;
}

/*FIN este es el texto que va intermedio de los numeros*/


.ver-tyc {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  cursor: pointer;

}

.vertyc--contador-promocion-contenedor {
  color: white !important;
  text-decoration: unset;

}

.contenedortyc {

  position: absolute !important;
  right: 13% !important;
  transform: translateY(-2%) !important;
  font-size: 14px;
  width: 15%;

}



/*DESARROLLO PANTALLAS GRANDES*/
@media (min-width: 1600px) {
  .contador {
    display: flex;
    align-items: center;
    margin-right: 32%;

  }


  .saletext {
    font-size: 23px;

  }

  .numero {
    font-size: 23px;

  }

  .label--contador-promocion-contenedor {

    font-size: 21px;
  }


  .contenedortyc {


    font-size: 17px;
    width: 19%;
  
  }

  .grupotextos--contador-promocion-contenedor {
    width: 44%;
    margin-left: 12%;
  }
  
  


}



/*DESARROLLO TABLETS*/

@media (max-width: 1024px) and (min-width: 768px) {
  .saletext {
    font-size: 17px;

  }


  .numero {
    font-size: 17px;

  }

  .grupotextos {
    padding-left: 1%;
  }

  .contenedortyc{

    right: 0% !important;
  }
  .contador{

    width: 28%;
  }

}








/*DESARROLLO MOBILE*/
@media (max-width: 768px) {
  .contadorcontainer {
    flex-direction: column !important;
    text-align: center !important;
    width: 100% !important;
    align-items: center !important;
  }

  .grupotextos {
    position: relative !important;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font-size: 12px;
  }

  .saletext {
    display: block;
    font-size: 14px;
    text-align: center;
    display: inline !important;

  }

  .contador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    margin-right: 5%;
    margin-top: 3%;
    gap: 6px;
  }

  .numero {
    font-size: 12px;
    padding: 3px 6px;
  }

  .contenedortyc {

    width: 19%;
    font-size: 11px !important;
    position: absolute !important;
    right: 1% !important;
    text-align: right;
    bottom: 54%;


  }

  .ver-tyc {
    position: relative;
    right: 0;
    font-size: 10px;

  }

  .label--contador-promocion-contenedor {

    font-size: 13px;
  }


  
}


@media (max-width: 360px) {
  .contador {
    margin-right: 17%;
    gap: 3px;
  }
}