:global(.vtex-modal-layout-0-x-paper--modal-contenido-mercado-pago-plp) {
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .vtex-modal-layout-0-x-paper--modal-contenido-mercado-pago-plp {
        width: 90%;
    }
}