.productHighlightWrapper [data-highlight-id="1144"] {
  width: 74px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/arquivos/flag-new.png);
  display: block;
}
