.skuSelectorContainer--new-vitrine .skuSelectorSubcontainer {
  justify-content: center;
  align-items: center;
}

.skuSelectorContainer--new-vitrine .skuSelectorName {
  margin: 0;
  font-weight: 700;
  color: #000;
}

.skuSelectorContainer--new-vitrine .skuSelectorItem {
  width: 18px;
  height: 18px;
}

.skuSelectorInternalBox--new-vitrine,
.frameAround--new-vitrine {
  border-radius: 0 !important;
}
