.stackItem--disccount,
.stackItem--collection-new,
.stackItem--addToCartVitrine {
  z-index: 99 !important;
}

.stackItem--collection-new {
  left: auto;
  right: 0;
}

.stackItem--addToCartVitrine {
  top: auto;
  bottom: 10px;
  width: 100%;
  padding: 0 2rem;
  display: none;
}

.stackItem--comprarapida {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 64em) {
  .stackItem--addToCartVitrine {
    display: block;
  }

  .stackItem--comprarapida {
    display: none;
  }
}
