.productBrandContainer--brand {
  text-align: left;
}

.productBrandName--brand {
  color: #767677;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.48px;
}

.nameContainer--new-vitrine {
  margin-bottom: 0;
  min-height: min-content;
}

.productNameContainer--new-vitrine {
  height: auto !important;
}

.brandName--new-vitrine {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.skuSelectorContainer--new-vitrine
  :global(.vtex-store-components-3-x-skuSelectorSubcontainer) {
  justify-content: center;
  align-items: center;
}

.skuSelectorContainer--new-vitrine
  :global(.vtex-store-components-3-x-skuSelectorName) {
  margin: 0;
  font-weight: 700;
  color: #000;
}

.skuSelectorContainer--new-vitrine .skuSelectorInternalBox,
.skuSelectorContainer--new-vitrine .frameAround {
  border-radius: 0 !important;
  border-color: transparent !important;
}

.skuSelectorItem--new-vitrine--selected .skuSelectorInternalBox--new-vitrine {
  background-color: #000;
}

.skuSelectorItem--new-vitrine--selected .skuSelectorItemTextValue--new-vitrine {
  color: #fff;
}

@media screen and (min-width: 64em) {
  .element--new-vitrine
    :global(.vtex-stack-layout-0-x-stackItem--addToCartVitrine) {
    visibility: hidden;
  }

  .element--new-vitrine:hover
    :global(.vtex-stack-layout-0-x-stackItem--addToCartVitrine) {
    visibility: visible;
  }

  .element--new-vitrine:hover
    :global(.vtex-flex-layout-0-x-flexRow--brand-and-tag),
  .element--new-vitrine:hover
    :global(.vtex-product-summary-2-x-nameContainer--new-vitrine),
  .element--new-vitrine:hover
    :global(.vtex-flex-layout-0-x-flexRow--pricesVitrine) {
    display: none;
  }

  .element--new-vitrine .SKUSelectorContainer--new-vitrine {
    display: none;
  }

  .element--new-vitrine:hover .SKUSelectorContainer--new-vitrine {
    display: block;
  }
}
